@model Project_1.Models.QuestionForm

@{
    ViewBag.Title = "Mission Info";
}

<style>
    h4 {
        font-weight: bold;
    }
    /*set the size of the country flag*/
    #country_flag {
        width: 380px;
        height: 200px;
    }
    /*prevents text areas from resizing horizontally or becoming too small vertically*/ 
    .vresize {
        line-height: 1.5em;
        min-height: 4.5em;
        resize: vertical;
    }
</style>

@*Generate breadcrumb for the page*@
<nav class="breadcrumb">
    @Html.ActionLink("Mission", "Index", "Mission", new { @class="breadcrumb-item" }) > 
    @ViewBag.MissionName
</nav>

<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>@ViewBag.MissionName</h2>
            </div>
            @*Display ViewBag Data for the mission*@
            <div class="panel-body">
                <p><b>Mission President: </b>@ViewBag.MissionPresident</p>
                <p><b>Mission Address: </b>@ViewBag.MissionAddress</p>
                <p><b>Language: </b>@ViewBag.Language</p>
                <p><b>Climate: </b>@ViewBag.Climate</p>
                <p><b>Dominate Religion: </b>@ViewBag.DominateReligion</p>
                <p><b>Country Flag: </b><br /><img id="country_flag" src="~/Content/Images/MissionImages/@ViewBag.FlagImgFileName" /></p>
            </div>
        </div>
    </div>
    @*Panel displaying FAQ's*@
    <div class="row">
        <div class="panel panel-default">
            @*example question -> all FAQ's follow this template*@
            @* panel heading *@
            <div class="panel-heading">
                <h2>Frequently Asked Questions</h2>
            </div>
            @* panel body *@
            <div class="panel-body">
                @* display question *@
                <h4>How are missionaries called?</h4>
                @* display answer *@
                <p>Every missionary who is called and assigned or reassigned to a particular mission is called by revelation through the Lord's servants, the prophets. A member of the Quorum of the Twelve assigns prospective missionaries to one of more than three hundred missions of the Church. Learn more by reading “The Divine Call of a Missionary,” Elder Ronald A. Rasband's April 2010 general conference address. </p>
                @* HTML form to submit response to question *@
                @using (Html.BeginForm("SubmitQuestionForm", "Mission", FormMethod.Post))
                {
                    //create text area
                    @Html.TextArea("Response", null, new { required = "required", rows = "2", placeholder = "Response", @class = "form-control vresize" })
                    //create submit and clear buttons
                    <div style="margin-top: 5px;">
                        <button type="submit" class="btn btn-primary">
                            Reply <span class="glyphicon glyphicon-send"></span>
                        </button>
                        <button type="reset" name="reset" value="Reset" class="btn btn-secondary">
                            Clear <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                }<br /><br />
                @*end of example question*@
                <h4>How long does it take to receive my call?</h4>
                <p>Generally, you may receive your call between two to three weeks once your papers are submitted by your stake president and processed by the Missionary Department. Bishops and stake presidents can view the status of each recommendation online.</p>
                @using (Html.BeginForm("SubmitQuestionForm", "Mission", FormMethod.Post))
                {
                    @Html.TextArea("Response", null, new { required = "required", rows = "2", placeholder = "Response", @class = "form-control vresize" })
                    <div style="margin-top: 5px;">
                        <button type="submit" class="btn btn-primary">
                            Reply <span class="glyphicon glyphicon-send"></span>
                        </button>
                        <button type="reset" name="reset" value="Reset" class="btn btn-secondary">
                            Clear <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                }<br /><br />
                <h4>How can I best prepare emotionally to be a missionary?</h4>
                <p>Elder L. Tom Perry explained: “Missionary service is emotionally demanding. Your support system is going to be withdrawn from you as you leave home and go out into the world. … There will be days of rejection and disappointment. Learn now about your emotional limits, and learn how to control your emotions under the circumstances you will face as a missionary.”</p>
                @using (Html.BeginForm("SubmitQuestionForm", "Mission", FormMethod.Post))
                {
                    @Html.TextArea("Response", null, new { required = "required", rows = "2", placeholder = "Response", @class = "form-control vresize" })
                    <div style="margin-top: 5px;">
                        <button type="submit" class="btn btn-primary">
                            Reply <span class="glyphicon glyphicon-send"></span>
                        </button>
                        <button type="reset" name="reset" value="Reset" class="btn btn-secondary">
                            Clear <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                }<br /><br />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default col-lg-3 col-md-4 col-sm-5 col-xm-6">
            <div class="panel-heading">
                <h3>Ask Us a Question</</h3>
            </div>
            <div class="panel-body">
                @*form for submitting new questions*@
                @using (Html.BeginForm("SubmitQuestionForm", "Mission", FormMethod.Post))
                {
                    //create text area
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
                            @Html.TextAreaFor(m => m.Question, new { required = "required", rows = "4", placeholder = "Question", @class = "form-control vresize" })
                        </div>
                    </div>
                    //create submit and clear buttons for form
                    <div>
                        <button type="submit" class="btn btn-primary pull-right">
                            Send <span class="glyphicon glyphicon-send"></span>
                        </button>
                        <button type="reset" name="reset" value="Reset" class="btn btn-secondary pull-left">
                            Clear <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
    
</div>