
@{
    ViewBag.Title = "MissionInfo";
}

<h2>@ViewBag.MissionName</h2>

<p><b>Mission President: </b>@ViewBag.MissionPresident</p>
<p><b>Mission Address: </b>@ViewBag.MissionAddress</p>
<p><b>Climate: </b>@ViewBag.Climate</p>
<p><b>Dominate Religion: </b>@ViewBag.DominateReligion</p>
<p><b>Image File: </b>@ViewBag.FlagImgFileName</p>